.footer {
  flex: 0 0 auto;
  background-color: var(--main-black);
  padding: 15rem 2rem 1.8rem;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--main-white);
}